<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="管理后台UI测试">
	
	<test name="justtest测试">
		<classes>
			<class name="just.test.testdriver"/>
			<class name="just.test.test1"/>
			<class name="just.test.test2"/>
			<class name="just.test.test3"/>
			<class name="just.test.test4"/>

		</classes>
	</test>
	
	<test name="content测试">
		<classes>
			<class name="com.job.ui.contentmanager.cont1"/>
			<class name="com.job.ui.contentmanager.cont2"/>
			<class name="com.job.ui.contentmanager.IsVisible"/>
		</classes>
	</test>
	
</suite>